USE [master]
GO
/****** Objeto: Database [PeluqueriaDB_Ferreyra] Fecha de script: 21/6/2026 15:09:56 ******/
CREATE DATABASE [PeluqueriaDB_Ferreyra]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PeluqueriaDB_Ferreyra', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PeluqueriaDB_Ferreyra.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PeluqueriaDB_Ferreyra_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PeluqueriaDB_Ferreyra_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PeluqueriaDB_Ferreyra].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PeluqueriaDB_Ferreyra]
GO
/****** Objeto: Table [dbo].[Turnos] Fecha de script: 21/6/2026 15:09:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Turnos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Cliente] [nvarchar](100) NOT NULL,
	[Servicio] [nvarchar](100) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Hora] [nvarchar](20) NOT NULL,
	[Confirmado] [bit] NOT NULL,
 CONSTRAINT [PK_Turnos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Turnos] ON 

INSERT [dbo].[Turnos] ([Id], [Cliente], [Servicio], [Fecha], [Hora], [Confirmado]) VALUES (1, N'Jeremías', N'Corte de Pelo', CAST(N'2026-06-17' AS Date), N'18:00', 1)
INSERT [dbo].[Turnos] ([Id], [Cliente], [Servicio], [Fecha], [Hora], [Confirmado]) VALUES (2, N'Jeremías', N'Corte de Pelo', CAST(N'2026-06-07' AS Date), N'10:00', 1)
INSERT [dbo].[Turnos] ([Id], [Cliente], [Servicio], [Fecha], [Hora], [Confirmado]) VALUES (3, N'Jeremías', N'Corte de Pelo', CAST(N'2026-06-26' AS Date), N'18:00', 1)
SET IDENTITY_INSERT [dbo].[Turnos] OFF
GO
USE [master]
GO
